articles/Contextual_chunking_for_Retrieval_Augmented_Generation-DEV_Community_Won_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/Foundations_of_Vector_Retrieval_Bruch_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Graph_Representation_Learning_Book_Hamilton_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/knowledge_graphs/Building-Knowledge-Graphs-Practitioners-Guide-OReilly-book.pdf filter=lfs diff=lfs merge=lfs -text
articles/knowledge_graphs/KnowledgeGraphs_Hogan_2021.pdf filter=lfs diff=lfs merge=lfs -text
